.page {
  width: 100%;
  min-height: 100vh;
}

.scene {
  position: relative;
  width: 100%;
  min-height: 100vh;
}

.bg-image {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 0;
}

.chicken {
  position: fixed;
  z-index: 2;
  width: 480rpx;
  height: 480rpx;
  top: 57%;
  left: 50%;
  opacity: 0;
  transform: translate(calc(-50% + 200rpx), calc(-50% - 100rpx)) scale(0.08);
  transform-origin: center bottom;

  &--walk {
    opacity: 1;
    animation: chicken-walk 2s ease-out forwards;
  }
}

@keyframes chicken-walk {
  0% {
    transform: translate(calc(-50% + 200rpx), calc(-50% - 100rpx)) scale(0.08);
  }

  100% {
    transform: translate(-50%, -50%) scale(1);
  }
}

.bowl {
  position: fixed;
  z-index: 3;
  width: 300rpx;
  height: 300rpx;
  top: 80%;
  left: 25%;
  opacity: 0;
  transform: translate(-50%, -50%) scale(0.6);
  pointer-events: none;

  &--show {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
    transition: opacity 0.2s ease-out, transform 0.2s ease-out;
  }
}

.nest-group {
  position: fixed;
  z-index: 2;
  width: 360rpx;
  height: 225rpx;  // 必须一起改
  top: 73%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.nest {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
}

.egg {
  position: absolute;
  z-index: 3;
  width: 156rpx;
  height: 184rpx;
  bottom: 30%;
  left: 50%;
  opacity: 0;
  transform: translateX(-50%) translateY(36rpx) scale(0.04);
  transform-origin: center bottom;
  pointer-events: none;

  &--hatch {
    animation: egg-hatch 2s ease-out forwards;
  }
}

@keyframes egg-hatch {
  0% {
    opacity: 0;
    transform: translateX(-50%) translateY(36rpx) scale(0.04);
  }

  12% {
    opacity: 1;
  }

  100% {
    opacity: 1;
    transform: translateX(-50%) translateY(0) scale(1);
  }
}

.empty-bowl {
  position: fixed;
  z-index: 3;
  width: 200rpx;
  height: 137rpx;
  top: 82%;
  left: 78%;
  opacity: 0;
  transform: translate(-50%, -50%);
  pointer-events: none;

  &--show {
    opacity: 1;
  }
}
